AI/Entity-Analyzer/Url-Trigger-Entity-Analyzer/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Entity_analyzer_Url_Trigger_name": {
            "defaultValue": "Entity-analyzer-Url-Trigger",
            "type": "String"
        },
        "connections_azuresentinel_73_externalid": {
            "defaultValue": "/subscriptions/ab48f397-fc82-4634-aa52-62dd91b3ebaa/resourceGroups/woodgrove-secco/providers/Microsoft.Web/connections/azuresentinel-73",
            "type": "String"
        },
        "connections_sentinelmcp_17_externalid": {
            "defaultValue": "/subscriptions/ab48f397-fc82-4634-aa52-62dd91b3ebaa/resourceGroups/woodgrove-secco/providers/Microsoft.Web/connections/sentinelmcp-17",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Entity_analyzer_Url_Trigger_name')]",
            "location": "northcentralus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_entity": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@listCallbackUrl()"
                                },
                                "path": "/entity/@{encodeURIComponent('UrlEntity')}"
                            }
                        }
                    },
                    "actions": {
                        "URL_Analyzer": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sentinelmcp-1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "workspaceId": "029c55c8-a7ec-418e-b741-de9d24add5fa",
                                    "lookBackDays": 10,
                                    "properties": {
                                        "entityType": "Url",
                                        "url": "@{triggerBody()?['Entity']?['properties']?['Url']}"
                                    }
                                },
                                "path": "/aiprimitives/analysis"
                            }
                        },
                        "Add_comment_to_incident_(V3)": {
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "incidentArmId": "@triggerBody()?['IncidentArmID']",
                                    "message": "<p class=\"editor-paragraph\">@{outputs('Compose')}</p>"
                                },
                                "path": "/Incidents/Comment"
                            }
                        },
                        "Compose": {
                            "runAfter": {
                                "URL_Analyzer": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@concat(\r\n'| 🔍 **Section** | Details |\\n',\r\n'|---|---|\\n',\r\n'| 🏷️ **Classification** | ', replace(replace(replace(coalesce(body('URL_Analyzer')?['classification'], 'N/A'), '\\r\\n', '\\n'), '\\n', '<br/>'), '|', '\\\\|'), ' |\\n',\r\n'| 🕵️ **Entity Type** | ', replace(replace(replace(coalesce(body('URL_Analyzer')?['properties']?['entityType'], 'N/A'), '\\r\\n', '\\n'), '\\n', '<br/>'), '|', '\\\\|'), ' |\\n',\r\n'| 🔎 **Analysis Result** | ', replace(replace(replace(replace(coalesce(body('URL_Analyzer')?['analysis'], 'N/A'), '- ', '• '), '\\r\\n', '\\n'), '\\n', '<br/>'), '|', '\\\\|'), ' |\\n',\r\n'| ✅ **Recommendation** | ', replace(replace(replace(coalesce(body('URL_Analyzer')?['recommendation'], 'N/A'), '\\r\\n', '\\n'), '\\n', '<br/>'), '|', '\\\\|'), ' |\\n',\r\n'| ⚠️ **Disclaimer** | 🤖 ', replace(replace(replace(coalesce(body('URL_Analyzer')?['disclaimer'], 'N/A'), '\\r\\n', '\\n'), '\\n', '<br/>'), '|', '\\\\|'), ' |\\n',\r\n'| 📂 **Data Sources** | ', if(equals(empty(body('URL_Analyzer')?['dataSourceList']), true), 'N/A', concat('• ', replace(join(body('URL_Analyzer')?['dataSourceList'], '\\n• '), '\\n', '<br/>'))), ' |'\r\n)"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel-1": {
                                "id": "/subscriptions/ab48f397-fc82-4634-aa52-62dd91b3ebaa/providers/Microsoft.Web/locations/northcentralus/managedApis/azuresentinel",
                                "connectionId": "[parameters('connections_azuresentinel_73_externalid')]",
                                "connectionName": "azuresentinel-73"
                            },
                            "sentinelmcp-1": {
                                "id": "/subscriptions/ab48f397-fc82-4634-aa52-62dd91b3ebaa/providers/Microsoft.Web/locations/northcentralus/managedApis/sentinelmcp",
                                "connectionId": "[parameters('connections_sentinelmcp_17_externalid')]",
                                "connectionName": "sentinelmcp-17"
                            }
                        }
                    }
                }
            }
        }
    ]
}